@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
    color: rgh(22,22,22);
    padding-bottom: 50px;
}
