
*{
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(90deg, red, blue);
    display: flex; /* uses Flexbox which responds to different screen sizes */
    align-items: center; /* Vertically center*/
    justify-content: center; /*Horizontally center*/
    height: 100vh; /* Setting body height to 100 percent */
    margin: 0;
}

.search .input {
    height: 50px;
    width: 500px;
    font-size:18px;
    padding: 15px;
    border: 0;
    background-color: salmon;
}

.btn{
    background-color: white;
    border: 0;
    font-size: 24px;
    height: 50px;
    width: 50px;
}
