
*{
    box-sizing: border-box;
}

body{
    background-color: #0000ff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.btn {
    background-color: rebeccapurple;
    margin: 10px;
    color: rgb(255,255,255);
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
