@import url('https://fonts.googleapis.com/css2?family=Badeen+Display&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #0000ff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.btn {
    font-family: 'Badeen Display', system-ui;
    background-color: rebeccapurple;
    margin: 10px;
    color: rgb(255,255,255);
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    border: none;
}

.btn:hover {
    opacity: 0.9;
}

.btn:focus {
    outline: none;
}
